<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add New Email to {{passedUserId}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formGroup" (submit)="saveForm();">
      <div class="form-group">
        <label for="emailAddress">Email Address</label>
        <input formControlName="emailAddress" type="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.emailAddress.errors }" id="emailAddress">
        <div *ngIf="submitted && f.emailAddress.errors" class="invalid-feedback">
          <div *ngIf="f.emailAddress.errors.required">Email is required</div>
          <div *ngIf="f.emailAddress.errors.email">Email must be a valid email address</div>
      </div>
      </div>
      <div class="form-group">
        <label for="isPrimary">Make this the primary email</label>
        <input formControlName="isPrimary" type="checkbox" class="form-control" id="isPrimary">
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark">Submit</button>
      </div>
    </form>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Add New Email</button>

<hr>

<pre>{{closeResult}}</pre>